<div class="container-fluid">

    <h2>Login</h2>
    <ng-form name="loginForm">
        <input name="username" type="text" ng-model="login.username" placeholder="Enter your username"/>
        <input name="password" type="text" ng-model="login.password" placeholder="Enter your password"/>
        <button ng-click="login()">Login</button>
    </ng-form>

    <div>{{status}}</div>

    <form style="display: none;" id="sendAssertionForm" action="http://candy.dev:8075/assertions" method="post">
        <input type="text" name="content" value="{{assertionForCandy}}"/></p>
        <input type="text" name="redirectUrl" value="{{redirectUrl}}" />
        <input type="submit" value="Submit" />
    </form>

</div>